.header {
    position: fixed;
    animation: dropHeader 0.3s;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 100%;
    background: white;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.headerContent {
    max-width: 1200px;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    cursor: pointer;
    border-left: 1px solid #000;
}
.headerMenu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 8);
    border-left: 1px solid #000;
}

.headerMenu:last-child {
    border-right: 1px solid #000;
}